:root {
  --shadow-color: 258deg 34% 56%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

.faceSplicer {
  padding: 0 20px;
  margin: 0;
  background: #d9cbfb;
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.faceSplicer header {
  padding: 10px 10px 20px 10px;
}

.faceSplicer header p {
  margin: 0;
  padding: 5px;
}

.faceSplicer header h1 {
  margin: 0;
  padding: 0;
}

.faceSplicer main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectors {
  width: 100%;
  max-width: 200px;
  text-align: left;
}

.output {
  display: flex;
  flex-direction: column;
}

.output canvas {
  /* box-shadow:  */
  box-shadow: var(--shadow-elevation-high);
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 20px;
}

.canvasHolder {
  border: 1px solid yellow;
  display: inline-block;
  position: relative;
}

.draggableThing {
  background: red;
  position: absolute;
  opacity: 0;
}

.guideCanvas {
  position: absolute;
  pointer-events: none;
}

.faceSplicer canvas {
  display: inline-block;
}

.personSelector {
  margin: 0 0 20px 0;
  display: flex;
  align-items: center;
}

.faceSplicer input {
  max-width: 300px;
}

.faceSplicer input[type="range"] {
  margin: 10px;
}

.faceSplicer label {
  display: inline-block;
  margin-right: 20px;
}
